body {
  font-family: "Yu Gothic", sans-serif;
  background-color: #FDE2F0;
  text-align: center;
  padding: 50px;
  margin: 0;
}

/* メッセージを大きく・中央に目立たせる */
.message-box {
  font-size: 32px;        /* 大きくする */
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

/* ボタンのラッパー */
.btn-wrap {
  margin-top: 20px;
}

/* ボタンを小さくする */
.btn {
  text-decoration: none;
  background-color: #039be5;
  padding: 8px 20px;       /* 小さめに */
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;         /* 少し小さく */
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-top: 10px;
}
