body {
  font-family: "Yu Gothic", sans-serif;
  text-align: center;
  padding: 20px;
}

.notice {
  background-color:#F7D8EA;
  padding: 10px;
  margin: 10px auto 30px auto;
  width: 80%;
  text-align: left;
  border-radius: 8px;
  font-weight: bold;
}

.confirm-table {
  margin: 0 auto 30px auto;
  border-collapse: collapse;
  width: 60%;
}

.confirm-table td {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  padding: 12px 32px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.btn-return {
  background-color: #29b6f6;
  color: rgb(255, 255, 255);
}

.btn-submit {
  background-color: #81c784;
  color: rgb(255, 255, 255);
}
