<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>新規登録確認</title>
  <link rel="stylesheet" href="/css/confirmShinki.css">
</head>
<body>
  <h1>登録内容確認</h1>
  <form method="post" action="/sinki/complete">
    <p>ID: [[${user.id}]]</p>
    <p>氏名: [[${user.name}]]</p>
    <p>メール: [[${user.email}]]</p>
    <p>部署: [[${user.departmentId}]]</p>
    <p>入社日: [[${user.nyushaDate}]]</p>
    <button type="submit">登録</button>
    <button type="button" onclick="history.back()">戻る</button>
  </form>
</body>
</html>